main {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/6720.jpg');
}

.color {
    background-color: rgba(255, 255, 255, 0.8);
}
