.gradient-custom {
    background-color: black;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/1515.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mask-custom {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 1em;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}