main {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/10307.jpg');
}

.card {
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: 0.5s ease;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 12px;
    color: white;
}

.tfa-button {
    background: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


.tfa-button::before {
    content: '';
    filter: blur(2px);
    position: absolute;
    background: linear-gradient(to left top, rgba(255, 255, 255, 1), transparent);
    top: 0;
    left: 0px;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 1s;
    transform: skewX(-30deg);
}

.tfa-button:hover::before {
    width: 130%;
}